@model Addnew

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<h2 class="text-center">SlideShow Application</h2>


<style>
    table {
        border: 1px solid;
        color: #177fb0;
        border-collapse: collapse;
    }
</style>


<form asp-action="Selected" method="post">

    <div>
        <label>Select Parent Property</label>
        <select id="Company" name="Company" id="Company">
            <option value="1">Hines</option>
            <option value="2">Hilton</option>
            <option value="3" selected>All</option>

        </select>
    </div>
    <br/>
    <div>


        <label>Select Club</label>
        <select id="dropdown" name="Club" id="club" asp-items="ViewBag.ClubsList">
            @*            <option value="3">Hines_Hotels</option>
            <option value="4">Hines_Gyms</option>
            <option value="5">Hines_Spa</option>
            <option value="6">Hilton_Hotels</option>
            <option value="7">Hilton_Gyms</option>
            <option value="8">Hilton_Spa</option>
            <option value="9">Cafeteria</option>*@

        </select>

    </div>
    <br />
    <div>

        <input type="submit" class="btn btn-primary" value="Enter" />

    </div>

    <hr />
</form>
<br />

<div class="row">
    <div class="col">
        <h4>Screen Configuration for @ViewData["ClubName"]</h4>
    </div>
    <div class="col text-end">
        <a id="loadPartialButton" style="text-decoration:none" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i> Add Slide</a>
        <a id="Preview1" style="text-decoration:none" asp-route-id="@Model.clubId" asp-controller="Company" asp-action="BootstrapSlide" class="btn btn-outline-primary"><i class="bi bi-eye-fill"></i> Preview</a>
    </div>
</div>

<div id="ErrorMessage" class="text-danger" style="display:inline-block ">
    <h3>@TempData["imageEmpty"]</h3>
    <h3>@TempData["FileFormat"]</h3>
    <h3 class="text-primary">@TempData["Deleted"]</h3>

</div>

<div id="partialdiv" style="display:none;">
    <partial name="_Create" model="@Model.NewAdd" />
</div>
<br />

<h3 class="text-danger">@ViewBag.Image</h3>


<table class="table" id="table">
    <thead style="background:#177fb0; color: white;">
        <tr>
            <th>
                Image
            </th>
            <th>
                Image Name
            </th>
            <th>
                Width
            </th>
            <th>
                Height
            </th>
            <th>
                FileSize
            </th>
            <th>
                Duration
            </th>
            <th>
                BG Color
            </th>
            <th>
                Footer
            </th>
            <th>
                Control
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AllSelected)
        {

            <tr>

                <td>
                    <img src="@Url.Content("~/Images/"+(item.ImagePath))" alt="Image" width="85" height="55" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Width) px
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Height) px
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileSize) kb
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BackgroundColor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Footer)
                </td>

                <td>

                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>|
                    <a asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>


                </td>
            </tr>
        }

        



    </tbody>
</table>








<script type="text/javascript">


    document.getElementById("loadPartialButton").onclick = function () {
        var secondDiv = document.getElementById("partialdiv");
        if (secondDiv.style.display === "none") {
            secondDiv.style.display = "block";
        } else {
            secondDiv.style.display = "none";
        }
        var errorDiv = document.getElementById("ErrorMessage");
        if (errorDiv.style.display === "none") {
            errorDiv.style.display = "block";
        } else {
            errorDiv.style.display = "none";
        }
    };





    $(document).ready(function () {
        var url = '@Url.Action("PartialViewCreate","Company")';
        $("#Company").val('@TempData["CompanyId"]');
        $("#dropdown").val('@TempData["ClubId"]');
        $('#Company').change(function () {
            var formdata = new FormData();
            formdata.append("CompanyId", $("#Company").val());
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DropDownList","Company")',
                processData: false,
                contentType: false,
                data: formdata,

                success: function (result) {
                    //alert(result);
                    if (result.length > 0){
                        //alert(result);
                        $('#dropdown').val(result.status);
                        $('#dropdown').html('');
                        var options = '';
                        for (var i = 0; i < result.length; i++) {
                            options += '<option value="' + result[i].id + '">' + result[i].name + '</option>';
                        }
                        $('#dropdown').append(options);
                    }
                    

                }

            });

        });

    });

</script>



<a id="loadPartialButton" style="text-decoration:none" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i> Add Slide</a>
